@import url(./__box/popup__box.css);
@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);
@import url(./__form/popup__form.css);
@import url(./__img/popup__img.css);
@import url(./__input/popup__input.css);
@import url(./__save/popup__save.css);
@import url(./__title/popup__title.css);
@import url(./_add/popup_add.css);
@import url(./_opened/popup_opened.css);
@import url(./_photo/popup_photo.css);
@import url(./__box-title/popup__box-title.css);
@import url(./__error/popup__error.css);
.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 2s;
  align-items: center;
  justify-content: center;
}