@import url(./_value-1/popup__input_value-1.css);
@import url(./_value-2/popup__input_value-2.css);
.popup__input {
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 14px;
}
.popup__input:last-of-type {
    margin-bottom: 0;
}