.profile__edit {
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #FFFFFF;
    box-shadow: none;
    background-color: black;
    color: white;
    background-image: url("../../../photo/pen.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.profile__edit:hover {
    opacity: 0.6;
}