.popup-photo__title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    border: none;
    background: rgba(0, 0, 0, .9);
    padding-top: 10px;
    color: white;
    margin: 0;
}