@import url(./_link/popup-add__card_link.css);
.popup-add__card {
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 14px;
}
.popup-add__card:last-of-type {
    margin-bottom: 0;
}