@import url(./_value-name/popup__input_value-name.css);
@import url(./_value-description/popup__input_value-description.css);
@import url(./_value-place/popup__input_value-place.css);
@import url(./_value-link/popup__input_value-link.css);
@import url(./_type_error/popup__input_type_error.css);
.popup__input {
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 14px;
    width: 100%;
}

.popup__input:last-of-type {
    margin-top: 30px;
}
@media all and (max-width:450px) {
    .popup__input {
        margin: 0 auto;
        width: 200px;
    }
}