.popup-add__close {
    position: absolute;
    z-index: -1;
    top: -37px;
    right: -37px;
    width: 41px;
    height: 41px;
    background-image: url(../../../images/close.svg);
    background-color: black;
    background-size: auto;
    background-position: center;
  }
  .popup-add__close:hover {
    opacity: 0.6;
  }